@tailwind base;
@tailwind components;
@tailwind utilities;


.active-link {
    @apply bg-[#daebff] border-r-[3px] border-[#007aff] opacity-[1] font-normal;
}
.customAfter::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 100%;
}

.loader {
    width: 48px;
    height: 12px;
    background: rgb(65, 65, 65);
    margin-top: 40px;
    display: inline-block;
    position: relative;
}
  .loader::after {
    content: '';  
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    position: absolute;
    border: 15px solid transparent;
    border-top-color: rgb(65, 65, 65);
    box-sizing: border-box;
    animation: bump 0.4s ease-in-out infinite alternate;
  }
  .loader::before {
    content: '';  
    left: 50%;
    bottom: 25px;
    transform: translate(-50%, 0);
    position: absolute;
    width: 15px;
    height: 20px;
    background: rgb(65, 65, 65);
    box-sizing: border-box;
    animation: bump 0.4s ease-in-out infinite alternate;
  }
  
  @keyframes bump {
    0% {
      transform: translate(-50%, 5px);
    }
    100% {
      transform: translate(-50%, -5px);
    }
  }
      